<ion-item class="ion-no-padding" lines="full">
  <div class="detail-product-search">
    <!--img-->
    <img src="{{data.picture}}" alt="mercado libre" class="product-img">
    <!--contenido-->
    <div class="detail-product">
      <!--precio-->
      <div class="info-price">
        <h2>$ {{data.amount}}</h2>
        <img src="./assets/ic_shipping.png" alt="mercado-libre" class="delivery-icon">
        <h3>Capital Federal</h3>
      </div>
      <!--descripción-->
      <div class="info-product">
        <h4>{{data.title}}</h4>
      </div>
    </div>
  </div>
</ion-item>
