<ion-item class="ion-no-padding" lines="full" (click)="selectProduct(data.id)">
  <div class="detail-product-search">
    <!--img-->
    <img src="{{data.picture}}" alt="mercado libre" class="product-img">
    <!--contenido-->
    <div class="detail-product">
      <!--precio-->
      <div class="info-price">
        <h2>$ {{data.price.amount | number}}</h2>
        <img src="./assets/ic_shipping.png" alt="mercado-libre" class="delivery-icon" *ngIf="data.free_shipping">
        <h3>{{data.state_name}}</h3>
      </div>
      <!--descripción-->
      <div class="info-product">
        <h4>{{data.title}}</h4>
      </div>
    </div>
  </div>
</ion-item>
