.detail-product-search {
  width: 100%;
  height: auto;
  display: flex;

  .product-img {
    width: 180px;
    height: 180px;
    display: block;
    object-fit: contain;
    border-radius: 4px;
    float: left;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .detail-product {
    width: 70%;
    height: 100%;
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    float: left;

    .info-price {
      width: 100%;
      height: auto;
      display: flow-root;
      margin-top: 16px;
      margin-bottom: 32px;

      h2 {
        font-size: 24px;
        margin: 0;
        float: left;
        color: var(--ion-color-dark);
        font-weight: 400;
      }

      h3 {
        font-size: 12px;
        text-align: right;
        margin: 0;
        float: right;
        color: var(--ion-color-dark);
        font-weight: 400;
      }

      .delivery-icon {
        width: 20px;
        display: block;
        margin: 5px 16px;
        height: auto;
        float: left;
      }
    }

    .info-product {
      width: 50%;
      height: auto;
      display: block;

      h4 {
        font-size: 18px;
        margin: 0;
        float: left;
        color: var(--ion-color-dark);
        font-weight: 400;
      }
    }

  }
}
